{% extends "base.html"%}
{% load static %}
{% block "css_files" %}
  <link rel="stylesheet" href="{% static "challenges/challenge.css" %}" >
  <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}" >
{% endblock %}

{% block "title" %}
    {{title|title}}challenges
{% endblock %}

{% block "content" %}
{%include "./includes/header.html"%}
    <h1>{{title|title}}</h1>
    {% if challenge_text is not None %}
        <h2>{{challenge_text}}</h2>
    {% else %}
        <p class= "fallback"> there is no challenge for this month yet!</p>
    {%endif%}
{% endblock %}
